{% extends "admin/index.html" %}
{% load i18n static humanize %}

{% block content_title %}
<h4> Hari Ini </h4>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-6">
            <div class="small-box" style="background-color: #663399; color: white;">
                <div class="inner">
                    <h3>{{ total_cabang }}</h3>
                    <p>Cabang Aktif</p>
                </div>
                <div class="icon"><i class="fas fa-shopping-cart"></i></div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box" style="background-color: #1E90FF; color: white;">
                <div class="inner">
                    <h3>{{ total_karyawan }}</h3>
                    <p>Mitra Aktif</p>
                </div>
                <div class="icon"><i class="fas fa-users"></i></div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box" style="background-color: #28A745; color: white;">
                <div class="inner">
                    <h3>Rp {{ total_omzet|intcomma }}</h3>
                    <p>Omzet Hari Ini</p>
                </div>
                <div class="icon"><i class="fas fa-money-bill-wave"></i></div>
            </div>
        </div>
        <div class="col-lg-3 col-6">
            <div class="small-box" style="background-color: #DC3545; color: white;">
                <div class="inner">
                    <h3>{{ total_minus }}</h3>
                    <p>Minus Hari Ini</p>
                </div>
                <div class="icon"><i class="fas fa-exclamation-triangle"></i></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block sidebar_second %}{% endblock %}